<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Baritheles</title>
</head>
<body>
    <header>
            <ul >
               
                    <img src="https://ccmpedidoonline.com.br/cdn/logopizzariabaritheles.png" height="100" width="200" alt="" > <h1>Baritheles</h1>
                  <li><a href="/site baritheles/cardarpio/index.html">Cardapio</a></li>
                  <li><a href="/site baritheles/view/sobre_nós_view/index.html">Sobre nós</a></li>
                  <li><a href="/site baritheles/view/sobre_nós_view/index.html">Contato</a></li>
          </ul></header>
        
        
  
    
 
</body>
</html>